{%- liquid
  assign option_number = block.settings.order_number | default: 0 | times: 1
  assign title = block.settings.title
  
  assign has_guide_page = false
  assign option_guide_text = block.settings.option_guide_text
  assign option_guide_page = block.settings.option_guide_page

  if option_guide_text != blank and option_guide_page != blank
    assign has_guide_page = true 
  endif

  assign bundles = block.settings.bundles
  assign default_bundle_image = block.settings.product_image | default: product.featured_image
  assign default_bundle_title = block.settings.product_title | default: product.title
  
  assign default_variant = product.selected_or_first_available_variant
  assign price = default_variant.price
  assign compare_at_price = default_variant.compare_at_price
  
  assign discount_percent = ''
  if compare_at_price > price
    assign discount_percent = compare_at_price | minus: price | times: 100 | divided_by: compare_at_price
  endif
-%}

{%- if has_guide_page -%}
    {%- capture option_guide_link -%}
      <modal-opener class="no-js-hidden" data-modal="option-guide-bundle-{{ product.id }}-{{ section.id }}">
        <button type="button" class="link block text-sm option-guide-link h5 no-text-transform" aria-haspopup="dialog">
          <span class="option-guide-link__icon flex">{%- render 'icon', icon: 'tooltip', size: 'small' -%}</span>
          <span class="option-guide-link__text">{{- option_guide_text -}}</span>
        </button>
      </modal-opener>
      <noscript>
        <a href="{{ option_guide_page.url }}" class="link">{{ option_guide_text }}</a>
      </noscript>
    {%- endcapture -%}
{%- endif -%}

{% if bundles != blank %}
  {{ 'component-product-bundles.css' | asset_url | stylesheet_tag }}

  <product-bundles class="product-bundles">
    <fieldset class="option-selector" data-selector-type="listed">
      <div class="label-heading flex justify-between items-center flex-wrap">
        <legend class="label items-center">
          {% if option_number > 0 %}
            <span class="label__order-number inline-flex justify-center items-center">
                {{ option_number }}
            </span>
          {% endif %}

          <span class="no-text-transform">{{ title }}</span>
          {{ option_guide_link }}
        </legend>
        {% assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id %}
        <div class="option-selector__btns flex flex-wrap w-full">
          <bundle-product data-form-id="{{ product_form_id }}" class="bundle-product" data-bundle-id="default">
            <input form="{{ product_form_id }}" id="bundles-{{ product.id }}-opt-0" type="radio" class="opt-btn visually-hidden focus-label js-option" name="bundle" value="{{ product.id }}" checked>
            <label class="opt-label opt-label--preference opt-label--btn btn relative text-center bundle-item"
              for="bundles-{{ product.id }}-opt-0">

              <div data-featured-image class="bundle-item__media">
                {{ default_bundle_image | image_url: width: 300 | image_tag: loading, 'lazy', fetchpriority: 'low'  }}
              </div>

              <div class="bundle-item__content">
                <div class="bundle-item__heading">
                  <div class="bundle-item__title heading-font">{{ default_bundle_title }}</div>
                </div>
                <div class="bundle-item__prices price-container" >
                  <div class="product-price">
                    <div class="product-price">
                      <div class="price font-semibold flex items-center price--on-sale">
                        <div class="price__default">
                          <div class="price__was" data-original-price>{{ compare_at_price | money }}</div>
                          <div class="price__current" data-discounted-price>{{ price | money }}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </label>
          </bundle-product>
          
          {% for bundle in bundles %}
            {% liquid
              assign bundle_image = bundle.featured_image | default: default_bundle_image
              assign bundle_title = bundle.title
             
              assign bundle_variant = bundle.selected_or_first_available_variant
              assign price = bundle_variant.price
              assign compare_at_price = bundle_variant.compare_at_price
              
              assign discount_percent = ''
              if compare_at_price > price
                assign discount_percent = compare_at_price | minus: price | times: 100 | divided_by: compare_at_price
              endif

            %}

            <bundle-product class="bundle-product" data-bundle-id={{ bundle.id }}>
              <input form="{{ product_form_id }}" id="bundles-{{ bundle.id }}-opt-{{ forloop.index }}" type="radio" class="opt-btn visually-hidden focus-label js-option" name="bundle" value="{{ product.id }}">
              <label class="opt-label opt-label--preference opt-label--btn btn relative text-center bundle-item"
                for="bundles-{{ bundle.id }}-opt-{{ forloop.index }}">

                <div class="bundle-item__media">
                  {{ bundle_image | image_url: width: 300 | image_tag: loading, 'lazy', fetchpriority: 'low'  }}
                </div>

                <div class="bundle-item__content">
                  <div class="bundle-item__heading">
                    <div class="bundle-item__title heading-font">{{ bundle_title }}</div>
                    <span class="bundle-item__discount price-label price-label--sale price-label--desktop" data-bundle-discount-percent>
                      {{ 'products.product.bundles.save_percent_html' | t: discount_percent: discount_percent }}
                    </span>
                  </div>

                  <div class="bundle-item__prices price-container" >
                    <div class="product-price">
                      <div class="product-price">
                        <div class="price font-semibold flex items-center price--on-sale">
                          <div class="price__default">
                            <div class="price__was" data-bundle-original-price>{{ compare_at_price | money }}</div>
                            <div class="price__current" data-bundle-discounted-price>{{ price | money }}</div>
                            <span class="bundle-item__discount price-label price-label--sale price-label--mobile" data-bundle-discount-percent>
                              {{ 'products.product.bundles.save_percent_html' | t: discount_percent: discount_percent }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% unless bundle.has_only_default_variant %}
                    <div class="bundle-item__variant-picker">
                      {% for option in bundle.options_with_values %}
                        {%- liquid 
                          assign option_name = option.name
                          assign option_position = option.position
                          assign option_index = forloop.index0
                          assign option_values = option.values

                          assign is_color_selector = false
                          if settings.swatch_source == 'theme' and settings.swatch_option_name contains option.name and settings.swatch_method == 'variant-images'
                            assign is_color_selector = true
                          elsif settings.swatch_source == 'theme' and settings.swatch_option_name contains option.name and settings.swatch_method == 'swatches'
                            assign is_color_selector = true
                          else
                            assign native_swatch_options = option.values | where: 'swatch'
                            if settings.swatch_source == 'native' and native_swatch_options.size > 0
                              assign is_color_selector = true
                            endif
                          endif

                          if is_color_selector
                            continue
                          endif
                        -%}

                        <fieldset class="bundle-item__option variant-option">
                          <span class="variant-option__name">
                            {{ 'products.product.bundles.select_option_label' | t: option_name: option_name }}
                          </span>

                          <div class="variant-option__values">
                            {% for value in option_values %}
                              <input 
                                id="bundle-option-{{ bundle.id }}-opt-{{ forloop.index0 }}-{{ value }}" 
                                type="radio" 
                                class="bundle-option opt-btn visually-hidden focus-label js-option" 
                                name="bundle_{{ bundle.id }}_option{{ option_position }}" 
                                value="{{ value }}"
                                {%  if bundle_variant.options[option_index] == value %}
                                  checked
                                {% endif %}
                                data-option-position={{ option_position }}
                              >
                              <label class="opt-label opt-label--btn btn relative text-center"
                                for="bundle-option-{{ bundle.id }}-opt-{{ forloop.index0 }}-{{ value }}">
                                {{ value }}
                              </label>
                            {% endfor %}
                          </div>

                        </fieldset>
                      {% endfor %}
                    </div>
                  {% endunless %}
                </div>
              </label>
            </bundle-product>
          {% endfor %}
        </div>
      </div>
    </fieldset>
  </product-bundles>

  <script src="{{ 'component-product-bundles.js' | asset_url }}" defer></script>
{% endif %}