{%- comment -%}
Parameters:
  - product {Object} - Product object.
  - no_quick_buy {Boolean} - If true, quick buy buttons are not shown (optional, default is false).
  - no_quick_buy_markup {Boolean} - If true, quick buy button shows, but quick buy container does not (optional, default is false)
  - custom_aspect_ratio {Number} - Aspect ratio to use for images (optional).
  - compact {String} - Show compact version of this block (optional).
  - card_layout {String} - May be 'landscape' or 'portrait' (optional, default is 'portrait').
  - manual_loading {Boolean} - Whether to ensure all images need manually loading with JS (optional).
  - prioritised_loading {Boolean} - Whether to render images immediately, not lazily (optional, default is false).
  - icon_height {Number} - Custom icon height (optional, default is 24).
  - grid {Number} - Desktop grid column count, used for image sizing (option, default is section.settings.grid)

  Usage:
  {% render 'product-block',
    product: product
  %}
{%- endcomment -%}
{%- liquid
  if collection and settings.prod_thumb_url_within_coll and product.collections contains collection
    assign product_url = product.url | within: collection
  else
    assign product_url = product.url
  endif

  if grid == blank
    assign size_cols_desktop = section.settings.grid
  else
    assign size_cols_desktop = grid
  endif

  assign cheapest_variant = product.variants | sort: 'price' | first

  if manual_loading
    assign loading = 'manual'
    assign hover_loading = 'manual'
  elsif prioritised_loading
    assign loading = 'eager'
    assign hover_loading = 'lazy'
  else
    assign loading = 'lazy'
    assign hover_loading = 'lazy'
  endif

  if in_predictive_search
    assign show_vendor = settings.quick_search_show_vendor
    assign show_price = settings.quick_search_show_price
  else
    assign show_vendor = section.settings.show_vendor
    assign show_price = true
  endif

  if custom_aspect_ratio
    assign custom_aspect_ratio = custom_aspect_ratio | at_least: 0.6
  endif
-%}

<product-block class="product-block-horizontal product-block-upsell {% if compact %} product-block--compact{% endif %}{% if card_layout == 'landscape' %} product-block--landscape{% endif %}" data-product-id="{{ product.id }}">
  {% comment %} TA Label get data main product has metafields seo hidden {% endcomment %}
  {% assign bss_product_metafields = product %}<script id="main-label-product-metafields-info" type="application/ld+json"> {"id":{{ bss_product_metafields.id | json }},"title": {{ bss_product_metafields.title | json }},"vendor": {{ bss_product_metafields.vendor | json }},"tags": {{ bss_product_metafields.tags | json }},"handle":{{ bss_product_metafields.handle | json }},"available":{{ bss_product_metafields.available | json }},"inventory":{{ bss_product_metafields.first_available_variant.inventory_quantity | json }},"compare_at_price_max":{{ bss_product_metafields.compare_at_price_max | json }},"compare_at_price_min":{{ bss_product_metafields.compare_at_price_min | json }},"price":{{ bss_product_metafields.price | json }},"price_max":{{ bss_product_metafields.price_max | json }},"price_min":{{ bss_product_metafields.price_min | json }},"publish_at":"{{ bss_product_metafields.published_at }}","inventory_management":{{ bss_product_metafields.first_available_variant.inventory_management | json }},"inventory_policy":{{ bss_product_metafields.first_available_variant.inventory_policy | json }},"inventory_quantity": [{% for varian in bss_product_metafields.variants %}{{ varian.inventory_quantity }}{% unless forloop.last %},{% endunless %}{% endfor %}],"variants": [{% for variant in bss_product_metafields.variants %}{  "id":{{ variant.id | json }},"feature_media_id":{{ variant.featured_media.id | json }},"feature_image_id":{{ variant.featured_image.id | json }},"available":{{ variant.available | json }},"image":{{ variant.image | json }},"price":{{ variant.price | json }},"inventory_management":{{ variant.inventory_management | json }},"inventory_policy":{{ variant.inventory_policy | json }},"compare_at_price":{{ variant.compare_at_price | json }},"quantity":{{ variant.inventory_quantity | json }}}{% unless forloop.last %},{% endunless %}{% endfor %}],"collections": [{% for collection in bss_product_metafields.collections %}{{ collection.id }}{% unless forloop.last %},{% endunless %}{% endfor %}],"format_money": {{shop.money_format | json}}}</script>
  {% comment %} TA Label end {% endcomment %}
  <div class="block-inner"{% if animate %}{%- render 'animation-attrs', attrs: 'data-cc-animate', always: true -%}{% endif %}>
    <div class="block-inner-inner flex items-center">
      {% if product.featured_media %}
        {%- liquid
          assign aspect_ratios_same = true
          for media in product.media offset: 1
            if media.preview_image.aspect_ratio != product.media.first.preview_image.aspect_ratio
              assign aspect_ratios_same = false
              break
            endif
          endfor

          if settings.prod_thumb_crop
            assign custom_crop = settings.prod_thumb_crop_align
          else
            assign custom_crop = 'contain'
          endif
        -%}
        <div class="image-cont">
          <a class="product-link{% if settings.quickbuy_style == 'whole' %}{% unless no_quick_buy %} quickbuy-toggle{% endunless %}{% endif %}" href="{{ product_url }}" tabindex="-1">
            <div class="image-label-wrap">
              <div>
                {%- if show_hover_image -%}
                  <div class="product-block__image product-block__image--primary{% if product.featured_media.id == product.media.first.id %}{% assign active_media_found = true %} product-block__image--active{% endif %}{% if product_images.last.id == product.featured_media.id %} product-block__image--show-on-hover{% endif %}" data-media-id="{{ product.media.first.id }}">
                    {%- render 'image' with product.media.first.preview_image, loading: loading, size_cols_mobile: 2, size_cols_desktop: size_cols_desktop, custom_aspect_ratio: custom_aspect_ratio, custom_crop: custom_crop -%}
                  </div>
                {%- else -%}
                  <div class="product-block__image product-block__image--primary product-block__image--active" data-media-id="{{ product.featured_media.id }}">
                    {%- render 'image' with product.featured_media.preview_image, loading: loading, size_cols_mobile: 2, size_cols_desktop: size_cols_desktop, custom_aspect_ratio: custom_aspect_ratio, custom_crop: custom_crop -%}
                  </div>
                {%- endif -%}
              </div>
              {%- if show_hover_image -%}
                {%- unless no_swiping -%}
                  <div class="product-block__image-dots" aria-hidden="true">
                    <div class="product-block__image-dot product-block__image-dot--active"></div><div class="product-block__image-dot"></div>
                    {%- if product_images.size > 2 -%}
                      <div class="product-block__image-dot product-block__image-dot--more"></div>
                    {%- endif -%}
                  </div>
                {%- endunless -%}
              {%- endif -%}
            </div>
          </a>
          {%- if show_hover_image -%}
            <a class="image-page-button image-page-button--previous has-ltr-icon" href="#" aria-label="{{ 'general.slider.previous' | t | escape }}" tabindex="-1">{%- render 'icon-chevron-left', stroke_width: 1.3 -%}</a>
            <a class="image-page-button image-page-button--next has-ltr-icon" href="#" aria-label="{{ 'general.slider.next' | t | escape }}" tabindex="-1">{%- render 'icon-chevron-right', stroke_width: 1.3 -%}</a>
          {%- endif -%}

          {%- if settings.quickbuy_style == 'button' -%}
            {%- unless no_quick_buy -%}
              <a class="btn btn--secondary quickbuy-toggle" href="{{ product_url }}">{{ 'products.product.quick_buy' | t }}</a>
            {%- endunless -%}
          {%- endif -%}
        </div>
      {% else %}
        <div class="image-cont">
          <div class="placeholder-image">{{ 'product-1' | placeholder_svg_tag }}</div>

          {%- if settings.quickbuy_style == 'button' -%}
            {%- unless no_quick_buy -%}
              <a class="btn btn--secondary quickbuy-toggle" href="{{ product_url }}">{{ 'products.product.quick_buy' | t }}</a>
            {%- endunless -%}
          {%- endif -%}
        </div>
      {% endif %}

      <div class="product-block__detail">
        <a class="product-link flex{% if settings.quickbuy_style == 'whole' %}{% unless no_quick_buy %} quickbuy-toggle{% endunless %}{% endif %}" href="{{ product_url }}">
          {%- if show_vendor -%}
            <div class="vendor">{{ product.vendor | escape }}</div>
          {%- endif -%}

          <div>
            <div class="product-block__title heading-font cart-item__title">{{ product.title | escape }}</div>

            <div class="product-price product-price--block">
              {%- render 'price', product: product, show_currency_code: settings.product_currency_code_enabled,
                current_variant: product.selected_or_first_available_variant,
                for_variant_picker: true,
                sale_text_key: 'products.product.save_extra',
                trailing_zeros: true,
                show_labels: true -%}
            </div>
          </div>
          <product-form>
            {% liquid
              assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id | append: '-sticky'
              assign variant = product.selected_or_first_available_variant
            %}
            {% form 'product', product, id: product_form_id, class: 'form js-product-form', data-product-id: product.id %}
              <input type="hidden" name="id" value="{{ variant.id }}">

              {% if variant.available %}
                <button class="btn body-font capitalize btn--small add-to-cart" type="submit" name="add" data-add-to-cart-text="{{ add_to_cart_text | escape }}"{% if product.available == false %} disabled{% endif %}>
                  {{- 'products.product.add' | t -}}
                </button>
              {% endif %}
            {% endform %}
          </product-form>
        </a>
      </div>
  </div>

  {%- if settings.quickbuy_style != 'off' -%}
    {%- unless no_quick_buy_markup or no_quick_buy -%}
      <div class="quickbuy-container use-color-scheme use-color-scheme--{{ settings.quickbuy_color_scheme }}">
        <a href="#" class="close-detail" aria-label="{{ 'accessibility.close' | t }}" tabindex="-1">{% render 'icon-close', stroke_width: 1 %}</a>
        <div class="inner"></div>
      </div>
    {%- endunless -%}
  {%- endif -%}
</product-block>
